*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#e4e5eb,#bcbbbe,#020202);
    padding: 10px;
}
.Temp-converter{
    width: 100%;
    max-width: 420px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.Temp-converter h1{
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;

}
/* removing increment-decrement symbols from number input */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; }

.row{
    display: grid;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 25px;
}
input{
flex: 1;
border: none;
outline: none;
background: transparent;
padding: 3px;
}

#drop{
    border: none;
    outline: none;
    padding: 2px 35px;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
#convert{
    text-align: center;
    margin-top: 50px;
    border: none;
    outline: none;
    width: 100%;
    padding: 16px 5px;
    background: #0dba2a;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
}
#reset{
    text-align: center;
    margin-top: 10px;
    border: none;
    outline: none;
    width: 30%;
    padding: 10px 5px;
    background: rgb(230, 76, 76);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
}
#result span{
    color: #0dba2a;
    font-size: 1.5rem;
}
#footer{
    margin: 0px;
    padding: 5%;
    background-color: #242020;
    color: white;
    text-align: center;
}
@media screen and (max-width:480px) {
    .container{
    width: 100%;
    background: linear-gradient(135deg,#e4e5eb,#bcbbbe,#020202);
    padding: 10px;
}
.Temp-converter{
    width: 100%;
    max-width: 420px;
    background: #fff;
    margin: 50% auto 10px ;
    padding: 40px 30px 50px;
    border-radius: 10px;
}
}